body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

/* Feed */

.feed {
  border: 1px solid var(--twitter-background);
  overflow-y: scroll;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}

/* Hide scrollbars */
.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

/* Posts */

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  max-width: 750px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body > img {
  border-radius: 20px;
  max-width: 100%;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__avatar {
  padding: 20px;
}

/********************** Sidebar **********************/

.sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5px;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin: 10px;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption > .MuiSvgIcon-root {
  padding: 20px;
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 20px;
}

.sidebarOption--active {
  color: var(--twitter-color);
}

/* Compose Tweet */

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBox__imageInput {
  border: none;
  padding: 10px;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}

/* Widgets */

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

.widgets__input > input {
  border: none;
  background-color: var(--twitter-background);
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin: 10px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer > h2 {
  font-size: 18px;
  font-weight: 800;
}

/* Mobile */

@media screen and (max-width: 600px) {
  .mobileHidden {display: none !important;}
  .sidebarText {display: none;}
  .sidebar {
    flex-direction: row; 
    width: 100% !important; 
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1200px) {
  .sidebarText {display: none;}
  .sidebar {
    width: 100% !important; 
    justify-content: space-evenly;
  }
  .sidebar__tweet {display: none !important;}
}